{{> head}}

<!--<header>
    <h1>{{pageTitle}}</h1>
    <p><a href = "/"> Home </a></p>
    <p><a href = "/about">About</a> </p>
    <p><a href = "/data">Data</a> </p>
</header>-->

<div class="header">
    <p class="logo">{{pageTitle}}</p>
    <div class="header-right">
        <a class="active" href="/"> Home </a>
        <a href="/about"> About </a>
        <a href="/data"> data </a>
    </div>
</div>